.alert {
    width: 50%;
    margin: auto;
    display: none;
}

td {
    white-space:pre;
    /* display: inline; */
}

.fa-trash:hover, .fa-edit:hover {
    color: red;
}

.fa-trash:active, .fa-edit:active {
    color: green;
}

.trash {
    width: 20%;
    white-space: nowrap;
    text-align: center;
}

.fa-trash, .fa-edit {
    font-size: 20px;
    padding: 2px;
    
}

tr:hover {
    background-color: #f1f1f1;
}